@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans300/MuseoSansCyrl.eot");
  src: url("../fonts/MuseoSans30/MuseoSansCyrl.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans300/MuseoSansCyrl.woff") format("woff"), url("../fonts/MuseoSans300/MuseoSansCyrl.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans500/MuseoSansCyrl.eot");
  src: url("../fonts/MuseoSans500/MuseoSansCyrl.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans500/MuseoSansCyrl.woff") format("woff"), url("../fonts/MuseoSans500/MuseoSansCyrl.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans700/MuseoSansCyrl.eot");
  src: url("../fonts/MuseoSans700/MuseoSansCyrl.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans700/MuseoSansCyrl.woff") format("woff"), url("../fonts/MuseoSans700/MuseoSansCyrl.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans900/MuseoSansCyrl.eot");
  src: url("../fonts/MuseoSans900/MuseoSansCyrl.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSans900/MuseoSansCyrl.woff") format("woff"), url("../fonts/MuseoSans900/MuseoSansCyrl.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
body,
table {
  font-family: "MuseoSansCyrl";
  line-height: 1.4;
  font-weight: 400;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
a:hover {
  text-decoration: underline;
}
svg {
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  transition: fill .3s linear;
}
.uk-container {
  margin: 0 auto;
}
@media (min-width: 960px) {
  .uk-container {
    padding: 0 15px;
    max-width: 1140px;
  }
}
.btn {
  margin: 0 auto;
  padding: 14px 45px;
  display: inline-block;
  font-size: 12px;
  color: #006e72;
  text-transform: uppercase;
  font-weight: 900;
  border: 3px solid #006e72;
  -webkit-border-radius: 25px;
          border-radius: 25px;
}
.btn:hover {
  opacity: .7;
  text-decoration: none;
}
.hidden {
  display: none;
}
.title.title--h1 {
  margin: 30px 0;
  color: #3b3b3b;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 767px) {
  .title.title--h1 {
    font-size: 24px;
    line-height: 40px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .title.title--h1 {
    font-size: 36px;
  }
}
.block-title {
  padding-bottom: 20px;
  width: 193px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  border-bottom: 3px solid #ffffff;
}
.block-title.block-title--vertical {
  text-align: right;
  position: absolute;
  top: 173px;
  left: 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0 center;
      -ms-transform-origin: 0 center;
          transform-origin: 0 center;
}
.content-title {
  margin-bottom: 50px;
  color: #3b3b3b;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 767px) {
  .content-title {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .content-title {
    margin-bottom: 15px;
  }
}
.weight-border {
  border: 10px solid #f1f1f1;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-block.uk-invisible,
  .img-title.uk-invisible {
    display: block !important;
    visibility: visible !important;
    -webkit-animation: none !important;
            animation: none !important;
    opacity: 1;
  }
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-block,
  .img-title,
  .products-block {
    display: block !important;
    visibility: visible !important;
    -webkit-animation: none !important;
            animation: none !important;
    opacity: 1;
  }
}
/*** HEADER ***/
.page-header {
  padding: 20px 0 0;
}
.contacts {
  padding: 20px 0;
  color: #76777a;
  font-size: 14px;
  border-bottom: 1px solid #edeef0;
}
.contacts a {
  margin-left: 25px;
  color: #3b3b3b;
  font-size: 14px;
}
.contacts a:last-child {
  margin-left: 15px;
}
.contacts a:hover {
  color: #006f73;
}
.contacts .motto {
  color: #7f7f7f;
  font-size: 13px;
  font-family: 500;
}
.page-nav-wrapper {
  padding: 34px 0 0;
}
.page-nav-wrapper .uk-grid {
  position: relative;
}
.page-nav-wrapper .uk-grid.header-title:after {
  overflow: visible;
  display: block;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 35px;
  content: '';
  border-bottom: 3px solid #EF7338;
}
@media (min-width: 960px) and (max-width: 1199px) {
  .page-nav-wrapper .uk-grid.header-title:after {
    left: 25px;
  }
}
.nav-list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}
.nav-list li {
  position: relative;
  margin-right: 10.5%;
  margin-bottom: 15px;
  display: inline-block;
  height: 40px;
  vertical-align: top;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
}
.nav-list li:hover > a {
  opacity: .5;
}
.nav-list li:hover .nav-list-sublist {
  visibility: visible;
  opacity: 1;
  top: 30px;
}
@media (min-width: 960px) and (max-width: 1199px) {
  .nav-list li {
    margin-right: 4.7254%;
  }
}
.nav-list li:last-child {
  margin-right: 0;
}
.nav-list li a {
  color: #006e72;
}
.nav-list li a:hover {
  text-decoration: none;
}
.nav-list .nav-list-sublist {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  padding: 25px 30px;
  opacity: 0;
  visibility: hidden;
  background-color: #006e72;
  -webkit-transition: top 0.3s, visibility 0s, opacity 0.3s ease-out;
  -o-transition: top 0.3s, visibility 0s, opacity 0.3s ease-out;
  transition: top 0.3s, visibility 0s, opacity 0.3s ease-out;
  z-index: 10;
}
.nav-list .nav-list-sublist li {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.nav-list .nav-list-sublist li a {
  display: block;
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-transform: none;
}
.nav-list .nav-list-sublist li a:hover {
  opacity: .7;
  text-decoration: underline;
}
.logo {
  display: block;
}
.logo.footer-logo {
  max-width: 143px;
}
.mail {
  margin-left: 20px;
}
.mail svg {
  width: 20px;
  height: 20px;
}
.mail,
.search {
  -webkit-transition: fill .2s linear;
  -o-transition: fill .2s linear;
  transition: fill .2s linear;
}
.mail:hover,
.search:hover {
  fill: #ef7338;
}
.uk-grid.mobile-menu {
  padding: 15px 0;
  margin-top: 0;
  border-bottom: 3px solid #006e72;
}
.uk-grid.mobile-menu .uk-offcanvas-bar {
  background: #ffffff;
}
.uk-grid.mobile-menu #offcanvas-menu .uk-nav li > ul {
  padding-left: 35px;
  display: none;
}
.uk-grid.mobile-menu #offcanvas-menu .uk-nav li a {
  position: relative;
  color: #006f73;
}
.uk-grid.mobile-menu #offcanvas-menu .uk-nav li svg.page-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform .3s linear;
  transition: -webkit-transform .3s linear;
  -o-transition: transform .3s linear;
  transition: transform .3s linear;
  transition: transform .3s linear, -webkit-transform .3s linear;
  fill: #006f73;
}
.uk-grid.mobile-menu #offcanvas-menu .uk-nav li svg.page-icon.open {
  -webkit-transform: rotate(90deg) translateX(-100%);
      -ms-transform: rotate(90deg) translateX(-100%);
          transform: rotate(90deg) translateX(-100%);
}
@media (min-width: 768px) {
  .uk-grid.mobile-menu {
    border: none;
  }
}
.uk-grid.mobile-menu .uk-subnav li {
  margin-top: 10px;
  margin-right: 15px;
  float: right;
}
.uk-grid.mobile-menu .uk-subnav li:last-child {
  margin-right: 0;
}
@media (min-width: 320px) and (max-width: 600px) {
  .uk-grid.mobile-menu .uk-subnav li {
    margin-right: 5px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .uk-grid.mobile-menu .uk-subnav li {
    margin-top: 25px;
    margin-right: 25px;
  }
}
.mobile-logo img {
  max-width: 100px;
}
@media (min-width: 768px) {
  .mobile-logo img {
    max-width: 180px;
  }
}
.uk-subnav a:hover svg {
  fill: #006e72;
}
.uk-subnav a > svg {
  margin-right: 25%;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: 0 0;
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  transition: fill .3s linear;
}
.uk-subnav a > svg:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .uk-subnav a > svg {
    width: 30px;
    height: 30px;
  }
}
.uk-subnav .icon-menu-mobile {
  width: 33px;
  height: 40px;
}
@media (min-width: 768px) {
  .uk-subnav .icon-menu-mobile {
    margin-top: 2px;
    width: 40px;
    height: 40px;
  }
}
.uk-subnav .icon-search-mobile {
  margin-top: 7px;
}
.uk-subnav .icon-mail-mobile {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}
#offcanvas-menu .uk-panel .uk-nav a {
  text-align: left;
  color: #fff;
}
#offcanvas-menu.uk-offcanvas {
  background: rgba(0, 0, 0, 0.4);
}
.mobile-form {
  margin-top: 25px;
  width: 100%;
  display: none;
}
.mobile-form input {
  padding: 10px 15px;
  width: 100%;
}
.search-form {
  position: relative;
  padding-right: 25px;
  width: 100%;
  display: none;
}
.search-form input[name="field-search"] {
  position: relative;
  width: 100%;
  outline: none;
  border: none;
  -webkit-transition: left .6s ease;
  -o-transition: left .6s ease;
  transition: left .6s ease;
}
.search-form input[name="field-search"]::-webkit-input-placeholder {
  color: #7f7f7f;
  font-weight: 600;
}
.search-form input[name="field-search"]::-moz-placeholder {
  color: #7f7f7f;
}
.search-form input[name="field-search"]:-ms-input-placeholder {
  color: #7f7f7f;
}
.search-form input[name="field-search"]:-moz-placeholder {
  color: #7f7f7f;
}
.search-form.hidden {
  display: none;
}
.search-form.open {
  width: 100%;
}
.search-form .search-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.search-form .search-form-btn svg {
  width: 14px;
  height: 14px;
  -webkit-transition: fill .3s linear;
  -o-transition: fill .3s linear;
  transition: fill .3s linear;
}
.search-form .search-form-btn:hover svg {
  fill: #006f73;
}
.search-form a.uk-modal-close {
  position: absolute;
  top: -20px;
  right: -20px;
  color: #006f73;
  opacity: 1;
}
.contacts-search:hover,
.contacts-mail:hover {
  text-decoration: none;
}
.contacts-search:hover svg,
.contacts-mail:hover svg {
  fill: #006f73;
}
/*** CONTENT ***/
.content {
  margin-bottom: 50px;
}
.content p {
  color: #3b3b3b;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
@media (min-width: 0) and (max-width: 767px) {
  .main-slider {
    display: none;
  }
}
.main-slider .slick-dots {
  width: 300px;
  left: 300px;
  text-align: left;
}
.main-slider .slick-dots li button:before {
  color: #006E72;
  font-size: 12px;
}
.main-slide {
  position: relative;
  height: 520px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  margin-bottom: 50px;
}
@media (min-width: 0) and (max-width: 767px) {
  .main-slide {
    height: 320px;
    -webkit-background-size: cover;
            background-size: cover;
    margin-bottom: 350px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .main-slide {
    height: 300px;
  }
}
.preview-news {
  width: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  padding: 48px 44px;
  color: #ffffff;
  background-color: #006e72;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news {
    padding: 24px 22px;
    left: 0;
    bottom: -100%;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .preview-news {
    padding: 24px 22px;
    left: 25%;
    bottom: -50px;
    width: 75%;
  }
}
.preview-news .preview-news-inner {
  position: relative;
  padding-left: 50px;
  max-width: 530px;
}
.preview-news .preview-news-title {
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 768px) and (max-width: 959px) {
  .preview-news .preview-news-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.preview-news .preview-news-desc {
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
}
.read-more-link {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
.read-more-link:hover {
  color: #ffffff;
  opacity: .7;
}
/*** PREVIEW NEWS - MAIN PAGE ***/
.preview-news-all {
  margin-bottom: 100px;
  padding: 80px 0 115px;
  background-color: #f1f1f1;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-all {
    margin-bottom: 50px;
    padding: 30px 0;
  }
}
.preview-news-all .preview-news-head {
  margin-bottom: 80px;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-all .preview-news-head {
    margin-bottom: 25px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .preview-news-all .preview-news-head {
    margin-bottom: 40px;
  }
}
.preview-news-all .preview-news-head:after {
  content: '';
  display: block;
  clear: both;
}
.preview-news-all .content-title {
  float: left;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-all .content-title {
    float: none;
  }
}
.preview-news-all .news-all {
  padding-top: 15px;
  float: right;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-all .news-all {
    float: none;
  }
}
.preview-news-all .news-all a {
  color: #006e72;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-all .preview-news-block {
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d2caca;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .preview-news-all .preview-news-block {
    margin-bottom: 30px;
    padding-bottom: 0;
    border: none;
  }
}
.preview-news-all .preview-news-block a {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
}
.preview-news-all .preview-news-block a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: transparent;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
  z-index: 5;
}
.preview-news-all .preview-news-block a:hover {
  text-decoration: none;
}
.preview-news-all .preview-news-block a:hover:after {
  background: rgba(0, 0, 0, 0.6);
}
.preview-news-all .preview-news-block a:hover .preview-news-text {
  display: block;
}
.preview-news-all .preview-news-block a:hover .news-date:after {
  width: 100%;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-all .preview-news-block a:hover:after {
    background: transparent;
  }
  .preview-news-all .preview-news-block a:hover .news-date:after {
    width: 0;
  }
  .preview-news-all .preview-news-block a .news-date:after {
    width: 0;
  }
  .preview-news-all .preview-news-block a img {
    margin-bottom: 15px;
  }
  .preview-news-all .preview-news-block a .preview-news-text {
    position: static;
    display: block;
    color: #000;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .preview-news-all .preview-news-block a:hover:after {
    background: transparent;
  }
  .preview-news-all .preview-news-block a:hover .news-date:after {
    width: 0;
  }
  .preview-news-all .preview-news-block a img {
    margin-bottom: 0;
    max-width: 40%;
    float: left;
  }
  .preview-news-all .preview-news-block a .preview-news-text {
    padding-left: 25px;
    position: static;
    display: block;
    color: #000;
  }
}
.preview-news-all .preview-news-block .news-date {
  position: absolute;
  top: 35px;
  left: 35px;
  border: none;
  -webkit-transition: border-width 0.3s linear;
  -o-transition: border-width 0.3s linear;
  transition: border-width 0.3s linear;
  z-index: 6;
}
@media (min-width: 0) and (max-width: 767px) {
  .preview-news-all .preview-news-block .news-date {
    top: 0px;
    left: 0px;
    padding: 15px 15px 10px 15px;
    background: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .preview-news-all .preview-news-block .news-date {
    top: 0px;
    left: 0px;
    padding: 15px 15px 10px 15px;
    background: rgba(0, 0, 0, 0.3);
  }
  .preview-news-all .preview-news-block .news-date:after {
    width: 0;
  }
}
.preview-news-all .preview-news-block .news-date:after {
  width: 0;
}
.preview-news-all .preview-news-block .preview-news-text {
  position: absolute;
  left: 35px;
  bottom: 35px;
  display: none;
  max-height: 100px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  overflow: hidden;
  z-index: 6;
}
.news-date {
  position: relative;
  padding-bottom: 25px;
  max-width: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
}
.news-date:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 3px;
  width: 100%;
  background: #006e72;
  z-index: 7;
  -webkit-transition: width .3s linear;
  -o-transition: width .3s linear;
  transition: width .3s linear;
}
.news-date span {
  display: block;
}
/*** PATHNERS SLIDER ***/
.our-pathners {
  margin-bottom: 70px;
}
.our-pathners .content-title {
  margin-bottom: 50px;
}
.pathners-slider a {
  display: block;
  height: 95px;
  text-align: center;
}
.pathners-slider a:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.pathners-slider a:hover {
  text-decoration: none;
}
.pathners-slider a img {
  display: inline;
}
.pathners-slider .slick-prev,
.pathners-slider .slick-next {
  width: auto;
  height: auto;
  z-index: 20;
}
.pathners-slider .slick-prev {
  left: -75px;
}
@media (min-width: 0) and (max-width: 767px) {
  .pathners-slider .slick-prev {
    left: -25px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .pathners-slider .slick-prev {
    left: 15px;
  }
}
.pathners-slider .slick-next {
  right: -75px;
}
@media (min-width: 0) and (max-width: 767px) {
  .pathners-slider .slick-next {
    right: -25px;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .pathners-slider .slick-next {
    right: 15px;
  }
}
.pathners-slider i svg {
  width: 30px;
  height: 30px;
  fill: #006e72;
}
/*** MAIN PAGE INNOVATIONS BLOCK ***/
.innovations {
  position: relative;
  margin-bottom: 90px;
}
@media (min-width: 0) and (max-width: 767px) {
  .innovations {
    margin-bottom: 40px;
  }
}
.innovations .img-title {
  background: url('../img/company-517-240.jpg') no-repeat;
}
@media (min-width: 0) and (max-width: 767px) {
  .innovations .img-title {
    -webkit-background-size: cover;
            background-size: cover;
  }
}
.block-img {
  background: #ffffff;
}
@media (min-width: 0) and (max-width: 767px) {
  .img-title {
    padding: 25px 15px;
    width: 100%;
  }
  .img-wrapper {
    display: none;
  }
  .block-desc {
    padding: 25px 15px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .block-desc {
    padding: 55px 0 90px 0;
  }
  .block-desc p {
    margin: 0 0 0 auto;
    width: 55%;
  }
  .block-img {
    position: absolute;
    width: 40%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: 10px solid #ffffff;
    border-top: 0;
    border-left: 0;
  }
  .block-img .img-title {
    padding: 35px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border: 10px solid #ffffff;
    border-width: 0;
  }
  .block-img .img-wrapper {
    border: 10px solid #ffffff;
  }
  .block-img .img-wrapper--1 {
    width: 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    border-left-width: 0;
  }
  .block-img .img-wrapper--2 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    border-right: 0;
    border-top: 0;
    width: 85%;
    margin: 0 auto;
  }
  .block-img .img-wrapper--3 {
    width: 50%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    border-right: 0;
  }
}
@media (min-width: 960px) {
  .block-desc {
    margin: 0 0 0 auto;
    padding: 55px 5% 90px 0;
    max-width: 946px;
    min-height: 438px;
  }
  .block-desc p {
    margin: 0 0 0 auto;
    width: 45%;
  }
  .block-img {
    position: absolute;
    top: 20px;
    left: -105px;
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: 10px solid #ffffff;
    border-left: 0;
  }
  .block-img .img-title {
    padding: 35px 55px;
    width: 50%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border: 10px solid #ffffff;
    border-width: 0 0 10px 10px;
  }
  .block-img .img-wrapper {
    border: 10px solid #ffffff;
  }
  .block-img .img-wrapper--1 {
    width: 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    border-width: 10px;
  }
  .block-img .img-wrapper--2 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    border-right: 0;
    border-left: 20px solid #ffffff;
    width: 50%;
  }
  .block-img .img-wrapper--3 {
    width: 43%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    border-right: 0;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  .innovations .block-img {
    left: -55px;
  }
  .block-desc {
    padding: 55px 0 90px 0;
  }
  .block-desc p {
    margin: 0 0 0 auto;
    width: 45%;
  }
  .block-img {
    position: absolute;
    top: 20px;
    left: -105px;
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    border: 10px solid #ffffff;
    border-left: 0;
  }
  .block-img .img-title {
    padding: 35px 55px;
    width: 50%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    border: 10px solid #ffffff;
    border-width: 0 0 10px 10px;
  }
  .block-img .img-wrapper {
    border: 10px solid #ffffff;
  }
  .block-img .img-wrapper--1 {
    width: 50%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    border-width: 10px;
  }
  .block-img .img-wrapper--2 {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    border-right: 0;
    border-left: 20px solid #ffffff;
    width: 50%;
  }
  .block-img .img-wrapper--3 {
    width: 43%;
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    border-right: 0;
  }
}
@media (min-width: 1200px) {
  .block-img {
    left: -205px;
    width: 810px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .block-img .img-title {
    width: 507px;
    height: 240px;
    padding: 65px 55px;
    padding-left: 100px;
  }
  .block-img .img-wrapper--1 {
    width: 29%;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
  }
  .block-img .img-wrapper--2 {
    width: 50%;
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start;
  }
  .block-img .img-wrapper--3 {
    width: 34%;
  }
}
/*** MAIN PAGE OUR MANUFAC BLOCK ***/
.our-manufac {
  position: relative;
  margin-bottom: 90px;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-manufac {
    margin-bottom: 50px;
  }
}
.our-manufac .block-desc {
  margin: 0 auto 0 0;
  padding: 55px 0 90px 5%;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-manufac .block-desc {
    padding: 25px 5%;
  }
}
.our-manufac .block-img {
  left: auto;
  right: -20%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.our-manufac p {
  margin: 0 auto 0 0;
  padding-left: 25px;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-manufac p {
    padding-left: 0;
  }
}
.our-manufac a {
  margin-top: 25px;
  padding-left: 25px;
  display: inline-block;
  color: #006e72;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-manufac a {
    padding-left: 0;
  }
}
.our-manufac .img-title {
  background: url('../img/manufac-4-517x240.jpg') no-repeat;
  float: right;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-manufac .img-title {
    width: 100%;
    float: none;
    border: none;
    margin: 0;
  }
}
.our-manufac .img-wrapper--1 {
  width: 35%;
}
.our-manufac .img-wrapper--3 {
  width: 47%;
}
@media (min-width: 768px) and (max-width: 959px) {
  .our-manufac .block-img {
    right: 0;
  }
  .our-manufac .img-title {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .our-manufac .img-wrapper--1 {
    width: 50%;
  }
  .our-manufac .img-wrapper--2 {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
    border: 10px solid #ffffff;
  }
  .our-manufac .img-wrapper--3 {
    width: 80%;
    margin: 0 auto;
    border-top: none;
  }
}
@media (min-width: 960px) and (max-width: 1200px) {
  .our-manufac .block-desc {
    padding-left: 0;
  }
  .our-manufac .img-title {
    width: 59%;
  }
  .our-manufac .block-img {
    width: 55%;
    right: -15px;
    border-right: none;
  }
}
@media (min-width: 1200px) and (max-width: 1600px) {
  .our-manufac .img-title {
    width: 65%;
  }
  .our-manufac .block-img {
    width: 60%;
    right: 0;
  }
}
/*** MAIN PAGE OUR STAFF BLOCK ***/
.our-staff {
  position: relative;
  margin: 240px auto 190px;
  padding: 65px 0 72px 8%;
  max-width: 850px;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-staff {
    padding: 25px 5%;
    margin: 40px 0;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .our-staff {
    padding: 35px 0 40px 5%;
  }
  .our-staff:after {
    content: '';
    display: block;
    clear: both;
  }
}
.our-staff .block-title {
  margin-bottom: 50px;
  color: #006e72;
  border-color: inherit;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-staff .block-title {
    margin-bottom: 25px;
  }
}
.our-staff p {
  max-width: 362px;
  min-height: 129px;
}
@media (min-width: 768px) and (max-width: 959px) {
  .our-staff p {
    width: 55%;
    float: left;
  }
}
.our-staff .our-staff-img {
  border: 20px solid #ffffff;
  position: absolute;
  top: 40px;
  right: -90px;
}
@media (min-width: 0) and (max-width: 767px) {
  .our-staff .our-staff-img {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .our-staff .our-staff-img {
    position: static;
    max-width: 45%;
    float: right;
  }
}
/*** PRODUCTS - MAIN PAGE ***/
.products {
  position: relative;
  margin-bottom: 200px;
}
@media (min-width: 0) and (max-width: 767px) {
  .products {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .products {
    margin-bottom: 50px;
  }
}
.products .block-desc {
  margin: 0 0 0 auto;
  max-width: 946px;
}
@media (min-width: 0) and (max-width: 767px) {
  .products .block-desc {
    padding: 55px 5%;
  }
  .products .block-desc p {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .products .block-desc {
    padding: 55px 5%;
  }
  .products .block-desc p {
    width: 100%;
  }
}
.products .block-img {
  width: 48%;
  top: 120px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 0) and (max-width: 767px) {
  .products .block-img {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    left: 50px;
    width: 100%;
    position: static;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .products .block-img {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    left: 50px;
    width: 100%;
    position: static;
  }
}
.products .block-title {
  color: #006e72;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  border-color: #006e72;
}
.products .products-block-wrapper {
  width: 40%;
}
@media (min-width: 0) and (max-width: 767px) {
  .products .products-block-wrapper {
    width: 100%;
  }
  .products .products-block-wrapper .products-block {
    margin: 15px 0;
    border: none;
    background-position: right center;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .products .products-block-wrapper {
    width: 100%;
  }
  .products .products-block-wrapper .products-block {
    margin: 20px 0;
    border: none;
    background-position: right center;
  }
}
.products .products-block {
  padding: 30px;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  width: 50%;
}
@media (min-width: 768px) and (max-width: 959px) {
  .products .products-block {
    width: 100%;
  }
}
.products .products-block a {
  display: block;
  width: 100%;
  height: 100%;
}
.products .products-block--1 {
  padding: 60px 30px;
  background-image: url('../img/product-1.png');
  width: 60%;
  height: 498px;
}
.products .products-block--1 .block-title {
  margin: 0 0 0 auto;
}
@media (min-width: 0) and (max-width: 767px) {
  .products .products-block--1 {
    padding: 30px 20px;
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .products .products-block--1 {
    padding: 30px 20px;
    width: 100%;
    height: 200px;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
  }
}
.products .products-block--2 {
  width: 100%;
  height: 240px;
  background-image: url('../img/product-2.png');
  background-position: center;
  border: 20px solid #ffffff;
}
.products .products-block--3 {
  width: 100%;
  height: 240px;
  background-image: url('../img/product-3.png');
  background-position: center;
  border: 20px solid #ffffff;
}
/*** BREADCRUMBS ***/
.breadcrumbs ul {
  padding: 0;
  list-style: none;
}
.breadcrumbs ul li {
  position: relative;
  padding-left: 22px;
  padding-right: 25px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: 500;
  color: #7f7f7f;
}
.breadcrumbs ul li:after {
  content: '/';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}
.breadcrumbs ul li:first-child {
  padding-left: 0;
}
.breadcrumbs ul li:last-child:after {
  content: '';
}
.breadcrumbs ul li a {
  color: #7f7f7f;
}
/***  CATALOG MENU ***/
.catalog > ul {
  padding: 34px;
  padding-bottom: 0;
  border: 10px solid #f1f1f1;
  list-style: none;
}
.catalog > ul li.catalog-title {
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f1f1f1;
}
.catalog > ul li.catalog-title:last-child {
  border: none;
}
.catalog > ul li.catalog-title.active > ul {
  display: block;
}
.catalog > ul li.catalog-title.active > a {
  border-bottom: 3px solid #006e72;
}
.catalog > ul li.catalog-title > a {
  position: relative;
  padding-bottom: 15px;
  display: block;
  color: #006e72;
  font-size: 16px;
  font-weight: 900;
}
.catalog > ul li.catalog-title > a svg {
  position: absolute;
  top: 5px;
  right: -20px;
  stroke: #006e72;
  fill: #006e72;
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.catalog > ul li.catalog-title > a svg.open {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  width: 15px;
  height: 15px;
  stroke-width: 3px;
  fill: #ffffff;
}
.catalog > ul li.catalog-title ul {
  display: none;
  padding: 0;
  padding-top: 35px;
  list-style: none;
}
.catalog > ul li.catalog-title ul li.uk-active a {
  color: #3b3b3b;
  font-weight: 900;
}
.catalog > ul li.catalog-title ul a {
  color: rgba(0, 110, 114, 0.75);
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}
/*** SPECIFICATIONS ***/
.specifications {
  color: #3b3b3b;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}
.specifications .option-name {
  font-weight: 700;
}
.specifications .option-desc {
  font-weight: 300;
}
/*** CERTIFICATE ***/
.certificate {
  margin-bottom: 45px;
  padding: 43px 110px;
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  background: rgba(241, 241, 241, 0.1) url('../img/certificate-bg.png') repeat;
}
.certificate .content-title {
  text-align: center;
  font-size: 18px;
}
.plan-product {
  margin-bottom: 45px;
}
/*** TABLE SPECIFICATIONS ***/
.table-specifications .content-title {
  margin-bottom: 30px;
  font-size: 18px;
}
.table-specifications table {
  margin-bottom: 30px !important;
  display: block;
  width: 100%;
  border: 1px solid #006e72;
}
.table-specifications table thead td {
  border: 1px solid #2c868b;
}
.table-specifications table tbody td {
  border: 1px solid #e2e2e2;
}
.table-specifications .table-subtitle {
  margin-bottom: 30px;
  color: #525252;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
/*** DETAIL SLIDER ***/
.detail-slider-wrapper {
  margin-bottom: 45px;
}
.detail-slider {
  margin-bottom: 20px;
  min-height: 347px;
  background-color: #f1f1f1;
}
.detail-slider .detail-slide {
  text-align: center;
  height: 347px;
}
.detail-slider .detail-slide:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.detail-slider img {
  display: inline;
}
.detail-preview-slider .slick-list {
  padding: 0 !important;
}
.detail-preview-slider .detail-preview-slide {
  margin-right: 10px;
  height: 130px;
  text-align: center;
  background: #f1f1f1;
  -webkit-transition: -webkit-filter .3s linear;
  transition: -webkit-filter .3s linear;
  -o-transition: filter .3s linear;
  transition: filter .3s linear;
  transition: filter .3s linear, -webkit-filter .3s linear;
}
.detail-preview-slider .detail-preview-slide.slick-current {
  -webkit-filter: grayScale(1);
          filter: grayScale(1);
}
.detail-preview-slider .detail-preview-slide img {
  display: inline;
  margin: 0 auto;
}
.detail-preview-slider .detail-preview-slide:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.manufac-img a:before {
  content: " ";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/*** FOOTER ***/
.page-footer {
  padding: 115px 0 75px;
  color: #ffffff;
  background-color: #006e72;
}
@media (min-width: 0) and (max-width: 767px) {
  .page-footer {
    padding: 40px 0;
  }
}
.page-footer a {
  color: #ffffff;
}
.page-footer a:hover {
  opacity: .7;
  text-decoration: underline;
}
.page-footer ul {
  list-style-type: none;
}
.page-footer .tel {
  font-size: 14px;
  font-weight: 700;
}
.page-footer .address {
  margin-top: 74px;
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
}
@media (min-width: 0) and (max-width: 767px) {
  .page-footer .address {
    margin-top: 5px;
  }
}
.footer-title {
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}
.footer-title:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 40px;
  height: 2px;
  background-color: #f1f1f1;
}
@media (min-width: 0) and (max-width: 767px) {
  .footer-title {
    text-align: center;
    margin-bottom: 10px;
    padding: 0;
  }
  .footer-title:after {
    content: '';
    width: 0;
  }
}
.footer-list {
  margin: 0;
  padding: 0;
}
@media (min-width: 0) and (max-width: 767px) {
  .footer-list {
    padding-bottom: 15px;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  .footer-list.hidden {
    display: block;
  }
}
@media (min-width: 960px) {
  .footer-list.hidden {
    display: block;
  }
}
.footer-list li a {
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}
.footer-copyrights {
  margin-top: 40px;
  padding-top: 50px;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  border-top: 1px solid #1a7a7e;
}
@media (min-width: 0) and (max-width: 767px) {
  .footer-copyrights {
    margin-top: 20px;
    padding-top: 15px;
  }
}
.footer-copyrights .dev {
  margin-top: 13px;
}
.footer-copyrights .dev svg {
  margin-right: 20px;
  fill: #f0644e;
}
@media (min-width: 0) and (max-width: 767px) {
  .footer-title[data-role="toggle-list"]:hover {
    cursor: pointer;
  }
}
