/*** PAGE CONTENT ***/

.content {
  p {
    color: #3b3b3b;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }
}

.main-banner {
  position: relative;
  height: 565px;
  background: url('../img/main-banner.png') center no-repeat;
  background-size: contain;
  margin-bottom: 50px;
}

.preview-news {
  width: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  padding: 48px 44px;
  color: #ffffff;
  background-color: #006e72;
  .preview-news-inner {
    position: relative;
    padding-left: 50px;
    max-width: 530px;
  }
  .preview-news-title {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 900;
    text-transform: uppercase;
  }
  .preview-news-desc {
    margin-bottom: 45px;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  }
}

.read-more-link {
  display: inline-block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  &:hover {
    color: #ffffff;
    opacity: .7;
  }
}



/*** PREVIEW NEWS - MAIN PAGE ***/

.preview-news-all {
  padding: 80px 0 115px;
  background-color: #f1f1f1;

  @media @mob-w {
    padding: 30px 0;
  }

  .preview-news-head {
    margin-bottom: 80px;

    @media @mob-w {
      margin-bottom: 25px;
    }

    @media @tablet-w {
      margin-bottom: 40px;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  .content-title {
    float: left;
    @media @mob-w {
      float: none;
    }
  }
  .news-all {
    padding-top: 15px;
    float: right;
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;

    @media @mob-w {
      float: none;
    }

    a {
      color: #006e72;
    }
  }
  .preview-news-block {

    @media @mob-w {
      margin-bottom: 25px;
      padding-bottom: 10px;
      border-bottom: 1px solid #d2caca;
    }

    @media @tablet-w {
      margin-bottom: 30px;
      padding-bottom: 0;
      border: none;
    }
    a {
      position: relative;
      display: block;
      height: 100%;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: transparent;
        transition: background .3s linear;
        z-index: 5;
      }
      &:hover {
        text-decoration: none;
        &:after {
          background: rgba(0, 0, 0, .6);
        }
        .preview-news-text {
          display: block;
        }
        .news-date {
          &:after {
            width: 100%;
          }
        }
      }

      @media @mob-w {
        &:hover {
          &:after {
            background: transparent;
          }
          .news-date {
            &:after {
              width: 0;
            }
          }
        }
        .news-date {
          &:after {
            width: 0;
          }
        }
        img {
          margin-bottom: 15px;
        }
        .preview-news-text {
          position: static;
          display: block;
          color: #000;
        }
      }

      @media @tablet-w {
        &:hover {
          &:after {
            background: transparent;
          }
          .news-date {
            &:after {
              width: 0;
            }
          }
        }
        img {
          margin-bottom: 0;
          max-width: 40%;
          float: left;
        }
        .preview-news-text {
          padding-left: 25px;
          position: static;
          display: block;
          color: #000;
        }
      }
    }
    .news-date {
      position: absolute;
      top: 35px;
      left: 35px;
      border: none;
      transition: border-width .3s linear;
      z-index: 6;

      @media @mob-w {
        top: 0px;
        left: 0px;
        padding: 15px 15px 10px 15px;
        background: rgba(0, 0, 0, .3);
      }

      @media @tablet-w {
        top: 0px;
        left: 0px;
        padding: 15px 15px 10px 15px;
        background: rgba(0, 0, 0, .3);
        &:after {
          width: 0;
        }
      }
      &:after {
        width: 0;
      }
    }
    .preview-news-text {
      position: absolute;
      left: 35px;
      bottom: 35px;
      display: none;
      max-height: 100px;
      color: #ffffff;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      overflow: hidden;
      z-index: 6;
    }
  }
}

.news-date {
  position: relative;
  padding-bottom: 25px;
  max-width: 100px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    height: 3px;
    width: 100%;
    background: #006e72;
    z-index: 7;
    transition: width .3s linear;
  }
  span {
    display: block;
  }
}

/*** PATHNERS SLIDER ***/

.our-pathners {
  margin-bottom: 70px;
  .content-title {
    margin-bottom: 50px;
  }
}
.pathners-slider {
  a {
    display: block;
    height: 95px;
    text-align: center;
    &:before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
    &:hover {
      text-decoration: none;
    }
    img {
      display: inline;
    }
  }
  .slick-prev,
  .slick-next {
    width: auto;
    height: auto;
    z-index: 20;
  }
  .slick-prev {
    left: -75px;

    @media @mob-w {
      left: -25px;
    }

    @media (min-width: 768px) and (max-width: 1300px) {
      left: 15px;
    }
  }
  .slick-next {
    right: -75px;

    @media @mob-w {
      right: -25px;
    }

    @media (min-width: 768px) and (max-width: 1300px) {
      right: 15px;
    }
  }
  i {
    svg {
      width: 30px;
      height: 30px;
      fill: #006e72;
    }
  }
}


/*** MAIN PAGE INNOVATIONS BLOCK ***/

.innovations {
  position: relative;
  margin-bottom: 90px;
  .img-title {
     background: url('../img/company-517-240.jpg') no-repeat;
  }
}

.block-img {
  background: #ffffff;
}

@media @mob-w {
  .img-title {
    padding: 25px 15px;
  }
  .img-wrapper {
    display: none;
  }
  .block-desc {
    padding: 25px 15px;
  }
}

@media @tablet-w {
  .block-desc {
    padding: 55px 0 90px 0;
    p {
      margin: 0 0 0 auto;
      width: 55%;
    }
  }
  .block-img {
    position: absolute;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #ffffff;
    border-top: 0;
    border-left: 0;
    .img-title {
      padding: 35px;
      width: 100%;
      order: 1;
      border: 10px solid #ffffff;
      border-width: 0 0 0 10px;
    }
    .img-wrapper {
      border: 10px solid #ffffff;
      &--1 {
        width: 50%;
        order: 2;
      }
      &--2 {
        order: 4;
        border-right: 0;
        border-top: 0;
        width: 85%;
        margin: 0 auto;
      }
      &--3 {
        width: 50%;
        order: 3;
        border-right: 0;
      }
    }
  }
}

@media @desk-w {
  .block-desc {
    padding: 55px 0 90px 0;
    p {
      margin: 0 0 0 auto;
      width: 45%;
    }
  }
  .block-img {
    position: absolute;
    top: 20px;
    left: -105px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #ffffff;
    border-left: 0;
    .img-title {
      padding: 35px 55px;
      width: 50%;
      order: 1;
      border: 10px solid #ffffff;
      border-width: 0 0 10px 10px;
    }
    .img-wrapper {
      border: 10px solid #ffffff;
      &--1 {
        width: 50%;
        order: 2;
        border-width: 10px;
      }
      &--2 {
        order: 4;
        border-right: 0;
        border-left: 20px solid #ffffff;
        width: 50%;
       
      }
      &--3 {
        width: 43%;
        order: 3;
        border-right: 0;
      }
    }
  }
}

@media (min-width: 960px) and (max-width: 1200px) {
  .innovations {
    .block-img {
      left: -55px;
    }
  }

  .block-desc {
    padding: 55px 0 90px 0;
    p {
      margin: 0 0 0 auto;
      width: 45%;
    }
  }
  .block-img {
    position: absolute;
    top: 20px;
    left: -105px;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid #ffffff;
    border-left: 0;
    .img-title {
      padding: 35px 55px;
      width: 50%;
      order: 1;
      border: 10px solid #ffffff;
      border-width: 0 0 10px 10px;
    }
    .img-wrapper {
      border: 10px solid #ffffff;
      &--1 {
        width: 50%;
        order: 2;
        border-width: 10px;
      }
      &--2 {
        order: 4;
        border-right: 0;
        border-left: 20px solid #ffffff;
        width: 50%;
       
      }
      &--3 {
        width: 43%;
        order: 3;
        border-right: 0;
      }
    }
  }

}

@media (min-width: 1200px) {
  .block-img {
    left: -205px;
    width: 810px;
    justify-content: flex-end;
    .img-title {
      width: 507px;
      padding: 65px 55px;
      padding-left: 100px;
    }
    .img-wrapper {
      &--1 {
        width: 29%;
        align-self: flex-end;
      }
      &--2 {
        width: 50%;
        align-self: flex-start;
      }
      &--3 {
        width: 34%;
      }
    }
  }
}

/*
.block-desc {
  position: relative;
  margin: 0 0 0 auto;
  padding: 70px 65px;
  max-width: 946px;
  z-index: 8;
  p {
    margin: 0 0 0 auto;
    max-width: 360px;
  }
}
.block-img {
  border: 20px solid #ffffff;
  top: 30px;
  left: -20%;
  position: absolute;
  width: 850px;
  background: #ffffff;
  z-index: 9;
  .img-title {
    margin: 0 20px 20px 0;
    padding: 67px 0 0 205px;
    width: 517px;
    height: 240px;
    background: url('../img/company-517-240.jpg') no-repeat;
    display: inline-block;
  }
  .img-wrapper {
    display: inline-block;
    float: right;
    &--1 {
      margin-top: 39px;
    }
    &--2 {
      margin-left: 20px;
    }
  }
}
*/

/*** MAIN PAGE OUR MANUFAC BLOCK ***/

.our-manufac {
  position: relative;
  margin-bottom: 90px;
  .block-desc {
    margin: 0 auto 0 0;
  }
  .block-img {
    left: auto;
    right: -20%;
  }
  p {
    margin: 0 auto 0 0;
  }
  .img-title {
     background: url('../img/manufac-4-517x240.jpg') no-repeat;
     float: right;
     margin-left: 10px;
  }
  .img-wrapper {
    &--1 {
      float: none;
    }
  }
}


/*** MAIN PAGE OUR STAFF BLOCK ***/

.our-staff {
  position: relative;
  margin: 240px auto 190px;
  padding: 65px 0 72px 88px;
  max-width: 850px;
  .block-title {
    margin-bottom: 50px;
    color: #006e72;
    border-color: inherit;
  }
  p {
    max-width: 362px;
    min-height: 129px;
  }
  .our-staff-img {
    border: 20px solid #ffffff;
    position: absolute;
    top: 40px;
    right: -90px;
  }
}
