html,
body {
  //font-family: @firaSans;
  line-height: 1.4;
  font-weight: 400;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizng: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: color .3s linear;
  &:hover {
    text-decoration: none;
  }
}