body,
table {
  font-family: @museoSans;
  line-height: 1.4;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all .3s linear;
  &:hover {
    text-decoration: underline;
  }
}

svg {
  transition: fill .3s linear;
}

.uk-container {
  margin: 0 auto;
  @media @desk-w {
    padding: 0 15px;
    max-width: 1140px;
  }
}

.hidden {
  display: none;
}

.title {
  &&--h1 {
    margin: 15px 0 30px;
    color: #3b3b3b;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.block-title {
  width: 193px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  &&--vertical {
    text-align: right;
    position: absolute;
    top: 173px;
    left: 0;
    padding-bottom: 20px;
    transform: rotate(-90deg);
    transform-origin: 0 center;
    border-bottom: 3px solid #ffffff;
  }
}

.content-title {
  color: #3b3b3b;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}

.weight-border {
  border: 10px solid #f1f1f1;
}


@media @mob-w {
  .preview-news-block.uk-invisible {
    display: block !important;
    visibility: visible !important;
    animation: none !important;
  }
}