@tablet-width: ~"(min-width: 700px)";
@desktop-width: ~"(min-width: 1200px)";

@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";

@retina-dpi: ~"(min-resolution: 144dpi)";
@retina-ppx: ~"(min-resolution: 1.5dppx)";
